{% extends "base.html" %}
{% load static %}
{% block content %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">User Profile</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">

              <!-- Profile Image -->
              <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                  <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/user4-128x128.jpg' %}"
                      alt="User profile picture">
                  </div>

                  <h3 class="profile-username text-center">Jhon Andres</h3>

                  <p class="text-muted text-center">Perez Lopez</p>
                  <p class="text-muted text-center">(32)</p>


                  <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                      <b>Fecha Nacimiento</b>
                      <p class="float-right">10/10/1990</p>
                    </li>
                    <li class="list-group-item">
                      <b>Correo electronico</b>
                      <p class="float-right">mi@correo.cl</p>
                    </li>
                    <li class="list-group-item">
                      <b>Genero</b>
                      <p class="float-right"><i class="fas fa-male"></i>/<i class="fas fa-female"></i></p>

                    </li>
                    <li class="list-group-item">
                      <b>Mano Domimante</b> <i class="fas fa-hand-point-left float-right"></i><i
                        class="fas fa-hand-point-right float-right"></i><i class="fas fa-bow-arrow float-right"></i>


                    </li>
                    <li class="list-group-item">
                      <b>Telefono</b> <a href="tel:+56123454323" class="float-right">+56 123454323</a>


                    </li>
                  </ul>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->


            </div>
            <!-- /.col -->
            <div class="col-md-8">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#abouthim" data-toggle="tab">Datos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#assistance" data-toggle="tab">Asistencia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#responsible" data-toggle="tab">Adulto
                        Responsable</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Mensualidad</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="abouthim">


                      <!-- About Me Box -->
                      <div class="card card-primary">

                        <!-- /.card-header -->
                        <div class="card-body">
                          <strong><i class="fas fa-book mr-1"></i> Education</strong>

                          <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                          </p>

                          <hr>

                          <strong><i class="fas fa-map-marker-alt mr-1"></i> Direccion</strong>

                          <p class="text-muted">Malibu, California</p>

                          <hr>
                          <strong><i class="fas fa-medkit mr-1"></i> Alguna enfermedad importante</strong>

                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum
                            enim
                            neque.</p>
                          <hr>
                          <strong><i class="fas fa-ambulance mr-1"></i> Emergencias llamar a</strong>

                          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum
                            enim
                            neque.</p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i>Observaciones </strong>
  
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum
                              enim
                              neque.</p>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->


                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="assistance">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Simple Full Width Table</h3>

                            <div class="card-tools">
                              <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                              </ul>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Task</th>
                                  <th>Progress</th>
                                  <th style="width: 40px">Label</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1.</td>
                                  <td>Update software</td>
                                  <td>
                                    <div class="progress progress-xs">
                                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                    </div>
                                  </td>
                                  <td><span class="badge bg-danger">55%</span></td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>Clean database</td>
                                  <td>
                                    <div class="progress progress-xs">
                                      <div class="progress-bar bg-warning" style="width: 70%"></div>
                                    </div>
                                  </td>
                                  <td><span class="badge bg-warning">70%</span></td>
                                </tr>
                                <tr>
                                  <td>3.</td>
                                  <td>Cron job running</td>
                                  <td>
                                    <div class="progress progress-xs progress-striped active">
                                      <div class="progress-bar bg-primary" style="width: 30%"></div>
                                    </div>
                                  </td>
                                  <td><span class="badge bg-primary">30%</span></td>
                                </tr>
                                <tr>
                                  <td>4.</td>
                                  <td>Fix and squish bugs</td>
                                  <td>
                                    <div class="progress progress-xs progress-striped active">
                                      <div class="progress-bar bg-success" style="width: 90%"></div>
                                    </div>
                                  </td>
                                  <td><span class="badge bg-success">90%</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="responsible">
                                            <!-- About Me Box -->
                                            <div class="card card-primary">

                                              <!-- /.card-header -->
                                              <div class="card-body">
                                                <strong><i class="fas fa-book mr-1"></i> Nombre </strong>
                      
                                                <p class="text-muted">
                                                  B.S. in Computer Science from the University of Tennessee at Knoxville
                                                </p>
                                                <hr>
                                                <strong><i class="fas fa-phone-alt mr-1"></i></strong>
                                                  <b>Telefono</b> <a href="tel:+56123454323" class="float-right">+56 123454323</a>
                                                <hr>
                                                <strong><i class="far fa-file-alt mr-1"></i>Observaciones </strong>
                      
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum
                                                  enim
                                                  neque.</p>
                                              </div>
                                              <!-- /.card-body -->
                                            </div>
                                            <!-- /.card -->
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                      <b> Corregir</b>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



  </div>
  <!-- ./wrapper -->


</body>
{% endblock content %}